.catalogue {
  &-item {
    border-bottom: 1px solid $grey-2;
    color: $default-color;
    display: inline-block;
    padding: 2rem 0;

    &:hover .catalogue-line,
    &:focus .catalogue-line {
      width: 5rem;
    }

    &:last-child {
      border: 0;
    }
  }

  &-time {
    color: $default-tint;
<<<<<<< HEAD
    font-family: $serif-secondary;
    letter-spacing: .5px;
=======
    font-family: $sans-serif;
    letter-spacing: .5px;
    display: inline-block;
    margin-bottom: 1rem;
>>>>>>> 858fb931c5133bd9bbecb668d9200272beb53d99
  }

  &-title {
    color: $default-shade;
    display: block;
    font-family: $sans-serif;
<<<<<<< HEAD
    font-size: 2rem;
    font-weight: 700;
    margin: .5rem 0;
=======
    font-size: 1.5rem;
    font-weight: 700;
    margin: .3rem 0;
>>>>>>> 858fb931c5133bd9bbecb668d9200272beb53d99
  }

  &-line {
    @include transition(all .3s ease-out);
    border-top: .2rem solid $default-shade;
    display: block;
    width: 2rem;
  }
<<<<<<< HEAD
=======

  &-category {
    color: $point-color;
    font-family: $sans-serif;
    font-weight: 700;
    margin: .2rem 0;
  }
>>>>>>> 858fb931c5133bd9bbecb668d9200272beb53d99
}
