.post {
  padding: 3rem 0;

  &-info {
    color: $default-tint;
<<<<<<< HEAD
    font-family: $serif-secondary;
    letter-spacing: 0.5px;
    text-align: center;
=======
    font-family: $sans-serif;
    letter-spacing: 0.5px;
    text-align: center;
    margin-bottom: 5rem;
>>>>>>> 858fb931c5133bd9bbecb668d9200272beb53d99

    span {
      font-style: italic;
    }
  }

<<<<<<< HEAD
  &-title {
    color: $default-shade;
    font-family: $sans-serif;
    font-size: 4rem;
=======
  &-category {
    color: $point-color;
    font-family: $sans-serif;
    font-weight: 700;
    margin: .2rem 0;
    text-align: center;
  }

  &-title {
    color: $default-shade;
    font-family: $sans-serif;
    font-size: 2rem;
>>>>>>> 858fb931c5133bd9bbecb668d9200272beb53d99
    margin: 1rem 0;
    text-align: center;
  }

<<<<<<< HEAD
  &-line {
    border-top: 0.4rem solid $default-shade;
    display: block;
    margin: 0 auto 3rem;
    width: 4rem;
  }

=======
>>>>>>> 858fb931c5133bd9bbecb668d9200272beb53d99
  p {
    margin: 0 0 1rem;
    text-align: justify;
  }

  a:hover {
    text-decoration: underline;
  }

  img {
    margin: 0 auto 0.5rem;
  }

  img + em {
    color: $default-tint;
    display: block;
    font-family: $sans-serif;
    font-size: 0.9rem;
    font-style: normal;
    text-align: center;
  }

  // CSS for making emoji inline
  img.emoji {
    display: inline-block;
    left: 0;
    transform: none;
    width: 1rem;
    height: 1rem;
    vertical-align: text-top;
    padding: 0;
    margin: 0;
  }
}
